[[chain]]
name = "optimism"
chain_id = 1_234
rpc_url = "http://..."
ws_url = "ws://..."
start_block = 1_234
block_batch_num = 1_000
max_tx_retry = 3
min_order_val = 1
max_order_val = 100_000
profitability_threshold = 0.1
order_contract_address = 0xc1a0
filler_poll_interval = 500

[[chain.tokens]]
name = "USD Coin"
symbol = "USDC"
type = "ERC20"
address = "0x123"
decimals = 18
price_feed = "xyz"
display_decimals = 2
image = "https://..."

[[chain.tokens]]
name = "DAI"
symbol = "DAI"
type = "ERC20"
address = "0x356"
decimals = 18
price_feed = "xyz"
display_decimals = 2
image = "https://..."

[[chain]]
name = "arbitrum"
chain_id = 1_242
rpc_url = "http://..."
ws_url = "ws://..."
start_block = 4_241
block_batch_num = 1_024
max_tx_retry = 3
min_order_val = 100
max_order_val = 200_000
profitability_threshold = 0.1
order_contract_address = 0xadd10
filler_poll_interval = 250

[[chain.tokens]]
name = "USD Coin"
symbol = "USDC"
type = "ERC20"
address = "0x883"
decimals = 18
price_feed = "xyz"
display_decimals = 2
image = "https://..."

[[chain.tokens]]
name = "DAI"
symbol = "DAI"
type = "ERC20"
address = "0x236"
decimals = 18
price_feed = "xyz"
display_decimals = 2
image = "https://..."
